<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr />
      </div>
    </div>
    <div class="row">
	    <div class="col-sm-6">
    		<p>            
            I began my early career working in application support. I used my experience working with
            clients and understanding their pain points in my next role as a product analyst in a small, fast-pased FinTech company.
            In this role I honed my SQL skills while doing some light programming to build business processes.
            -----say some words about working with the dev team  
            ---say more words about complering projects in timely manor
        </p>
        <p>
           I'm a self-starter who's always looking to learn something new. I'm currently working through
           some projects building sample applications using Ruby on Rails.
           
           I enjoy building relationships with users and have a drive to improve products based on user feedback.
           I'm searching for a Product Manager role where I can use my past experience to help better a product
        </p>
      </div>
	    <div class="col-sm-6">
		    <h3 style="margin-top:0;">Highlights</h3>
		    <ul>
    			<li>
            Acheivement #1
    			</li>
		    </ul>
	    </div>
    </div>
  </div>
</section>
