<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr/>
      </div>
    </div>
    <div class="row"> 
	    <div class="col-sm-6">
        <div style=text-align:center;padding:5px>
    		<p>            
            I began my product career working in application support in a small, fast-pased FinTech company where I built dashboards and 
            built custom business process for clients in C#. Interfacing with clients and understanding their pain points became useful in my next role 
            as a product analyst. In this role I was tasked with managing multiple projects and seeing them through from requirements gathering to project completion.
            In this role, I honed my product knowledge and skills by maintaining a backlog of issues and enhancements and working with developers to roll out new features.
        </p>
        <p>
           I describe myself as a self-starter who's always looking to learn something new. I'm currently working through a few projects building applications using 
           Ruby on Rails which has been a ton of fun. I'm in search of a new challenge and opportunity to expand my product knowledge.
        </p>
        </div>
    </div>
  </div>
</section>
