<section class="tout" id="interests">
    <div class="container">
      <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Interests</h2>
                <hr />
            </div>
        </div>
            <div class="row">
                <div class="col-sm-6">
		    <p>
			    My personal interests include:
        </p>
			<ul>
			  <li>
					<b>Salsa Dancing:</b> I began dancing salsa in college and it's still a passion of mine.
				</li>
				<li>
					<b>Product Management:</b> My current role as a Product Analyst has driven me to learn more about the role of Product Managers and the impact they have
					on the success of a product.
				</li>
				<li>
					<b>Building:</b> I love the build things. Whether I'm building furniture with a carpenter friend or building a web app, creating something from nothing 
					always facinates me.
				</li>
			</ul>
		</div>
    <div class="col-sm-6">
      <h3 style="margin-top:0">Recent Projects</h3>
		  <ul>
  			<li>
          Built a blog web application
				</li>
				<li>
					Worked with a small group to develop an asset management web application to manage bridge inspections
				</li>
		   </ul>
      </div>
    </div>
  </div>
</section>
